*
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    background-color: #424141;
    justify-content: space-between;
    color: #fff;
}

.logo
{
    margin: 20px 10px 10px 10px;
}

.logo img
{
    width: 20%;
    margin-left: 160px;
}

.nav
{
    margin: 10px;
    padding: 10px;
}

.ul
{
    list-style: none;
    display: flex;
    margin-right: 180px;
}

li
{
    padding: 5px 20px 5px 20px;
    font-size: 18px;
}

/* info */
.info
{
    height: 650px;
    display: flex;
    background-color: black;
    align-items: center;
}

.info-text h1
{
    font-size: 54px;
    font-weight: bold;
    color: white;
}

.info-text
{
    margin: 10px 0px 10px 120px;
}

.info-text p
{
    color: white;
    font-size: 18px;
    margin: 20px 0 15px 0;
}

.info-text .btn,
.btn
{
    color: white;
    font-size: 18px;
    background-color: red;
    padding: 5px;
    border-radius: 2px;
}

.info-text,
.info-logo
{
    width: 50%;
}

.info-logo img
{
    width: 70%;
    margin-left: 70px;
}

.about h1
{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.about-con
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img img
{
    width: 70%;
    margin: 20px 0 0 160px;
}

.about-text
{
    margin: 0 0 50px 400px;
}

.about-text h2
{
    font-size: 1.5rem;
    margin: 10px;
}
.about-text p
{
    font-size: 1rem;
    margin: 10px;
}
.about-text .btn
{
    font-size: 1rem;
    margin: 5px 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}