*
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    background-color: #424141;
    justify-content: space-between;
    color: #fff;
}

.logo
{
    margin: 20px 10px 10px 10px;
}
.logo img{
    width: 20%;
    margin-left: 160px;
}
.nav{
    margin: 10px;
    padding: 10px;
}
.ul{
    list-style: none;
    display: flex;
    margin-right: 180px;
}
li{
    padding: 5px 20px 5px 20px ;
    font-size: 18px;
}