*
{
    margin: 0;
    padding: 0;
}

header
{
    display: flex;
    background-color: #424141;
    justify-content: space-between;
    color: #fff;
}

.logo
{
    margin: 20px 10px 10px 10px;
}

.logo img
{
    width: 20%;
    margin-left: 160px;
}

.nav
{
    margin: 10px;
    padding: 10px;
}

.ul
{
    list-style: none;
    display: flex;
    margin-right: 180px;
}

li
{
    padding: 5px 20px 5px 20px;
    font-size: 18px;
}

/* info */
.info
{
    height: 650px;
    display: flex;
    background-color: black;
    align-items: center;
}

.info-text h1
{
    font-size: 54px;
    font-weight: bold;
    color: white;
}

.info-text
{
    margin: 10px 0px 10px 120px;
}

.info-text p
{
    color: white;
    font-size: 18px;
    margin: 20px 0 15px 0;
}

.info-text .btn,
.btn
{
    font-size: 1rem;
    margin: 5px 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: red;
}

.info-text,
.info-logo
{
    width: 50%;
}

.info-logo img
{
    width: 70%;
    margin-left: 70px;
}

.about h1
{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 50px;
}

.about-con
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-img img
{
    width: 70%;
    margin: 20px 0 0 160px;
}

.about-text
{
    margin: 0 0 50px 400px;
}

.about-text h2
{
    font-size: 1.5rem;
    margin: 10px;
}

.about-text p
{
    font-size: 1rem;
    margin: 10px;
}

.about-text .btn
{
    font-size: 1rem;
    margin: 5px 10px;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

/* service */
.service
{
    background-color: black;
    color: white;
    margin-top: 20px;
}

.service-tittle
{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.sarvice-container
{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.card
{
    width: 200px;
    height: 280px;
    padding: 15px;
    text-align: center;
    box-shadow: 4px 2px 105px gray;
    border-radius: 10px;
}

.service-img
{
    width: 70px;
    border-radius: 10px;
    margin-top: 5px;
}

.ser-tittle
{
    padding: 10px;
}

.service-desc
{
    margin-bottom: 10px;
}

.service-btn
{
    margin-top: 20px;
    padding: 13px 20px;
    outline: none;
    border-radius: 3px;
    border: none;
    background-color: black;
    color: white;
}

/* foot */
.foot
{
    background-color: black;
    color: white;
}

.foot-container
{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

.foot-left,
.foot-right
{
    display: flex;
    gap: 100px;
}

.foot-con img
{
    width: 180px;
    margin: 10px 0;
    margin-top: 0;
}
#tittle{
    margin-bottom: 15px;
}
.foot-con p
{
    line-height: 30px;
    margin: 0 0 5px 0;
}

hr
{
    width: 80%;
    margin: 60px auto;
    margin-bottom: 40px;
}

.copyright
{
    text-align: center;
    padding-bottom: 30px;
}